.nav-bar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  position: sticky;
  top: 0px;
  z-index: 100;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-links {
  display: flex;
  gap: 24px;
  color: black;
  font-size: 18px;

}
.nav-links p{
  cursor: pointer;
}
.nav-links p:hover{
color: #01d48f;
text-shadow: 5px 10px 24px #3ecff0;
}

.nav-links img {
  padding: 0 0 0 10px;
  width: 15px;
  height: 15px;
}
.bmi-button {
  position: absolute;
  font-size: 24px;
  padding: 8px 20px;
  border-radius: 12px;
  background-color: #01d48f;
  color: white;
  right: 10vw;
  cursor: pointer;
  transition: 0.5s;
}
.bmi-button:hover{
  text-shadow: 5px 10px 24px #3ecff0;
  transform: scale(1.05);
}
.menu {
  height: 20px;
  width: 20px;
}
@media (max-width: 1440px) {
  .bmi-button {
    position: absolute;
    font-size: 24px;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #01d48f;
    color: white;
    right: 5vw;
  }
}
@media (max-width: 1024px) {
  .nav-bar{
    justify-content: flex-end;
  }
  .bmi-button {
    position: absolute;
    font-size: 24px;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #01d48f;
    color: white;
    right: 10vw;
  }
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #ffffffcf;
    right: 30px;
    top: 70px;
    border-radius: 20px;
    padding: 30px;
  }
  .menu{
    margin-right: 20px;
  }
}
@media (max-width: 512px) {
  .nav-links {
    display: flex;
    gap: 24px;
    color: black;
    font-size: 18px;
  
  }
  .nav-links p{
    cursor: pointer;
  }
  .nav-links p:hover{
  color: #01d48f;
  }
  
  .nav-links img {
    padding: 0 0 0 10px;
    width: 15px;
    height: 15px;
  }
  .bmi-button {
    position: absolute;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 12px;
    background-color: #01d48f;
    color: white;
    right: 15vw;
    cursor: pointer;
  }
  .menu {
    height: 20px;
    width: 20px;
  }
}
